@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
}
$yellow:#f5eb7d;
$dgrey: #181a18;
$lgrey: #2a2b2a;
$white: #ebebeb;
$font-2: 'Qwitcher Grypen', cursive;
@mixin s-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin background($bg-color){
    background-color: $bg-color;
    padding-top: 50px;
    padding-bottom: 20px;
}
@mixin font{
    font-family: $font-2;
    font-size: 50px;
    font-weight: 100;
}
body{
    color: $white;
}
li{
    list-style-type: none;
    display: inline;
}
a{
    text-decoration: none;
    color: $white;
    &:hover{
        color: $yellow;
    }
}
.wraper{
    @include s-between;
}
.center-align{
    align-items: center;;
}
.wrap-flex{
    flex-wrap: wrap;
}
.center-container{
    width: 80%;
    margin: 0px auto; 
}
.t-margin{
    margin-top: 40px;
}
#region-1{
    background-image: url("../img/computer.jpg");
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    padding: 20px 0px;
}
.active-link{
    color: $yellow;
    border-bottom: 2px solid $yellow;
}
#logo{
    width: 20%;
    a{
       @include font;
    }
}
span{
    color: $yellow;
}
nav{
    width: 70%;
    text-align: right;
    margin-top: 15px;
    li{
        margin-left: 4%;
    }
}
#web-developer{
    width: 25%;
    h2{
        margin: 15px 0px;
    }
    p:first-child{
        color: $yellow;
    }
}
#name{
    h1::before{
        content: "";
        border: 2px solid $yellow;
       }
   p{
    margin: 15px 0px;
   }
}
#name, #web-developer{
    margin: 150px 0px;
}
.button{
    padding: 15px;
    width: 150px;;
    border: 1px solid $yellow;
    text-align: center;
    border-radius: 15px;
    a{
        color: $yellow;
    }
    &:hover{
        background-color: rgba(255, 255, 255, 0.8);
    a{
        color: $dgrey;
    }
    border-color: $dgrey;
    }
}
.grey-background{
   @include background($dgrey);
}
.title{
    text-align: center;
    position: relative;
    > h2{
        color: $yellow;
    }
}
.shadow{
    position: absolute;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.1);
    letter-spacing: 10px;
    left: 50%;
    top: -15px;
    font-size: 20px;
}
#my-picture{
    width: 35%;
    img{
        max-width: 100%;
    }
}
#about{
    width: 50%;
    h4{
    @include font;
    }
    > p{
        margin: 20px 0px;
    }
}
#about-me p{
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 30px;
    }
}
.l-grey-background{
    @include background($lgrey);
 }
.paragraph{
    width: 35%;
    margin: 20px auto;
    text-align: center;
    h2{
        margin-bottom: 10px;
    }
 }
.container-services{
    width: 23%;
    text-align: center;
}
.service-blok{
    background-color: $dgrey;
    border-radius: 7px;
    h3{
      margin: 15px 0px;
    }
    i{
      font-size: 25px;
    }
}
.numbers{
    p:first-child{
        color: $yellow;
        font-size: 20px;
        margin-bottom: 5px;
    }
}
.numbers, .service-blok{
    padding: 40px 0px;
}

